.input {
    margin-top: 20px;
}
.input_box {
    height: 400px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    border: 2px solid transparent;
}
.input_box:focus{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: transparent;
    outline: none !important;
    border: 2px solid rgb(128, 128, 228);
}

.input_container {
    display: flex;
    flex-direction: column;
    position: top;
}
.button{
    margin-left: auto;
    width: 60px;
    height: 30px;
    background: #76a0f0;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
    margin-top: 10px;
    margin-left: 20px;
}

.button:hover {
    background: #284986;
    scale: 105%;
}