*{
    margin: 0;
    padding: 0;
}

.navbar_container{
    display: static;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px black;
    position: fixed;
  left: 0;      /* ADDED */
  top: 0;       /* ADDED */
  width: 100%;
}

.items_container{
    display: flex;
    justify-content: space-around;
}
