*{
    margin: 0;
    padding: 0;
}

.navbar_container{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 5px black;
}

.items_container{
    display: flex;
    justify-content: space-around;
}